@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Wet+Paint&display=swap');


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


button {
    font-size: 50px;
    margin-bottom: 30px;
    font-family: 'Pacifico', cursive;
    padding: 0 20px;
    border-radius: 50px;
    border: 5px solid black;
    background-color: white;
    transition: 0.2;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 5px #bd162c;
    transition: 0.2;

}